build*/
.qtcreator/
*.user
*.pro.user
CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.app
Makefile
debug/
release/
received/
